---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import LPILogo from '../assets/lpi-logo-2024-red.svg'
import XLogo from '../assets/twitter-x.svg'
import instagramLogo from '../assets/instagram.svg'
import whatsAppLogo from '../assets/whatsapp.svg'
import emailLogo from '../assets/email.svg'

import SocialButton from '../components/SocialButton.astro'
import Button from '../components/Button.astro'
import VenueSection from '../components/VenueSection.astro'
import PlaylistModal from '../components/PlaylistModal.astro'
---

<Layout title='LP Indonesia'>
  <Image src={LPILogo} alt='LP Indonesia Logo' class='w-40 mb-4' />
  <div class='select-none'>
    <h1 class="-mb-2 font-['BebasNeue'] text-4xl text-[#d60f0f] text-center">
      LP Indonesia
    </h1>
    <h1 class="font-['BebasNeue'] text-xl text-[#d60f0f] text-center">
      Est. 2009
    </h1>
  </div>
  <div class='mb-4 mt-4 relative grid grid-cols-1 gap-y-2'>
    <div class='h-9 w-80 px-6 absolute bottom-full flex justify-between'>
      <img src='/images/pbe.png' alt='PBE' />
      <img src='/images/mjc.png' alt='MJC' />
    </div>
    <a href='https://linkinparkinjakarta2025.com' target='_blank'>
      <Button
        id='countdown-live-in-jakarta-2025'
        label='ðŸŽ« Live in Jakarta 2025'
      />
    </a>
    <a
      href='https://mica-stetson-0f3.notion.site/Panduan-LPRocksMadya2025-151696400394805ab06fe6da32757ac3'
      target='_blank'
    >
      <Button label='ðŸ“– Panduan #LPRocksMadya2025' />
    </a>
    <a
      href='https://mica-stetson-0f3.notion.site/LPRocksMadya2025-Guide-English-18e6964003948028a7f7e77d13313307'
      target='_blank'
    >
      <Button label='ðŸ“– #LPRocksMadya2025 Guide (English)' />
    </a>
    <Button
      id='dialog-open-from-zero-playlist'
      label='ðŸŽµ From Zero World Tour 2025 Playlist'
    />
    <a href='merch'>
      <Button label='ðŸ‘• LPI Merch' />
    </a>
    <a href='past-events'>
      <Button label='ðŸ“… Past Events' />
    </a>
    <Button
      id='dialog-open-venue-section'
      label='ðŸ“ Kamu Nonton di Section Apa?'
    />
  </div>
  <div class='flex justify-center gap-x-4'>
    <SocialButton
      url='https://chat.whatsapp.com/IqXlFuxBu2b9Fsa88HqiuR'
      src={whatsAppLogo}
      alt='WhatsApp Logo'
    />
    <SocialButton
      url='https://www.instagram.com/lp_indonesia'
      src={instagramLogo}
      alt='Instagram Logo'
    />
    <SocialButton url='https://x.com/lp_indonesia' src={XLogo} alt='X Logo' />
    <SocialButton
      url='mailto:lpindonesia.email@gmail.com'
      src={emailLogo}
      alt='Email Logo'
    />
  </div>
  <VenueSection />
  <PlaylistModal />
  <script>
    import getDayCountdown from '../utils/getDayCountdown'
    import showEventModal from '../utils/showEventModal'

    function updateCountdown() {
      const daysRemaining = getDayCountdown('2025-02-16T00:00:00')

      if (daysRemaining >= 0) {
        const countdownElement = document.getElementById(
          'countdown-live-in-jakarta-2025'
        )
        if (countdownElement) {
          countdownElement.textContent = `ðŸŽ« Live in Jakarta 2025 (D-${daysRemaining})`
        }
      }
    }

    updateCountdown()

    showEventModal(
      'dialog-from-zero-playlist',
      'dialog-open-from-zero-playlist'
    )
    showEventModal('dialog-open-venue-section', 'dialog-venue-section')
  </script>
</Layout>
