---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import LPILogo from '../assets/lpi-logo-2024-red.svg'
import XLogo from '../assets/twitter-x.svg'
import instagramLogo from '../assets/instagram.svg'
import whatsAppLogo from '../assets/whatsapp.svg'
import emailLogo from '../assets/email.svg'

import SocialButton from '../components/SocialButton.astro'
import Button from '../components/Button.astro'
import Gathering20250126 from '../components/Gathering20250126.astro'
---

<Layout title='LP Indonesia'>
  <Image src={LPILogo} alt='LP Indonesia Logo' class='w-40 mb-4' />
  <div class='select-none'>
    <h1 class="-mb-2 font-['BebasNeue'] text-4xl text-[#d60f0f] text-center">
      LP Indonesia
    </h1>
    <h1 class="font-['BebasNeue'] text-xl text-[#d60f0f] text-center">
      Est. 2009
    </h1>
  </div>
  <div class='mb-4 mt-4 grid grid-cols-1 gap-y-2'>
    <a href='https://linkinparkinjakarta2025.com' target='_blank'>
      <Button
        id='countdown-live-in-jakarta-2025'
        label='ðŸŽ« Live in Jakarta 2025'
      />
    </a>
    <Button
      id='open-dialog-gathering-poster-20250126'
      label='ðŸ¤ Gathering LP Semarang 26 Jan 2025'
    />
    <a href='https://bit.ly/panduanlprocksmadya2025' target='_blank'>
      <Button label='ðŸ“– Panduan #LPRocksMadya2025' />
    </a>
    <a href='merch'>
      <Button label='ðŸ‘• LPI Merch' />
    </a>
    <a href='past-events'>
      <Button label='ðŸ“… Past Events' />
    </a>
    <a
      href='https://docs.google.com/forms/d/e/1FAIpQLSeO-i0j_ny1xN6Pwd13MOY6vqPR10io_RytWAKQAwUMSpBC7A/viewform'
      target='_blank'
    >
      <Button label='ðŸ“ Kamu Nonton di Section Apa?' />
    </a>
  </div>
  <div class='flex justify-center gap-x-4'>
    <SocialButton
      url='https://chat.whatsapp.com/IqXlFuxBu2b9Fsa88HqiuR'
      src={whatsAppLogo}
      alt='WhatsApp Logo'
    />
    <SocialButton
      url='https://www.instagram.com/lp_indonesia'
      src={instagramLogo}
      alt='Instagram Logo'
    />
    <SocialButton url='https://x.com/lp_indonesia' src={XLogo} alt='X Logo' />
    <SocialButton
      url='mailto:lpindonesia.email@gmail.com'
      src={emailLogo}
      alt='Email Logo'
    />
  </div>
  <Gathering20250126 />
  <script>
    function updateCountdown() {
      const targetDate = new Date('2025-02-16T00:00:00')
      const today = new Date()
      const timeDiff = targetDate.getTime() - today.getTime()
      const daysRemaining = Math.ceil(timeDiff / (1000 * 3600 * 24))

      if (daysRemaining >= 0) {
        const countdownElement = document.getElementById(
          'countdown-live-in-jakarta-2025'
        )
        if (countdownElement) {
          countdownElement.textContent = `ðŸŽ« Live in Jakarta 2025 (D-${daysRemaining})`
        }
      }
    }

    updateCountdown()

    const tributeDialog = document.getElementById(
      'dialog-gathering-poster-20250126'
    ) as HTMLDialogElement
    const openTributeButton = document.getElementById(
      'open-dialog-gathering-poster-20250126'
    ) as HTMLDialogElement

    if (tributeDialog && openTributeButton) {
      openTributeButton.addEventListener('click', () => {
        tributeDialog.showModal()
      })
    }
  </script>
</Layout>
