---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import LPILogo from '../assets/lpi-logo-2024-red.svg'
import XLogo from '../assets/twitter-x.svg'
import instagramLogo from '../assets/instagram.svg'
import whatsAppLogo from '../assets/whatsapp.svg'
import emailLogo from '../assets/email.svg'

import SocialButton from '../components/SocialButton.astro'
import Button from '../components/Button.astro'
import Tribute20250111 from '../components/Tribute20250111.astro'
---

<Layout title='LP Indonesia'>
  <Image src={LPILogo} alt='LP Indonesia Logo' class='w-40 mb-4' />
  <div class='select-none'>
    <h1 class="-mb-2 font-['BebasNeue'] text-4xl text-[#d60f0f] text-center">
      LP Indonesia
    </h1>
    <h1 class="font-['BebasNeue'] text-xl text-[#d60f0f] text-center">
      Est. 2009
    </h1>
  </div>
  <div class='mb-4 mt-4 grid grid-cols-1 gap-y-2'>
    <a href='https://linkinparkinjakarta2025.com' target='_blank'>
      <Button label='ðŸŽ« Live in Jakarta 2025' />
    </a>
    <a href='https://bit.ly/panduanlprocksmadya2025' target='_blank'>
      <Button label='ðŸ“– Panduan #LPRocksMadya2025' />
    </a>
    <a href='merch'>
      <Button label='ðŸ‘• LPI Merch' />
    </a>
    <a href='past-events'>
      <Button label='ðŸ“… Past Events' />
    </a>
    <a
      href='https://docs.google.com/forms/d/e/1FAIpQLSeO-i0j_ny1xN6Pwd13MOY6vqPR10io_RytWAKQAwUMSpBC7A/viewform'
      target='_blank'
    >
      <Button label='ðŸ“ Kamu Nonton di Section Apa?' />
    </a>
  </div>
  <div class='flex justify-center gap-x-4'>
    <SocialButton
      url='https://chat.whatsapp.com/IqXlFuxBu2b9Fsa88HqiuR'
      src={whatsAppLogo}
      alt='WhatsApp Logo'
    />
    <SocialButton
      url='https://www.instagram.com/lp_indonesia'
      src={instagramLogo}
      alt='Instagram Logo'
    />
    <SocialButton url='https://x.com/lp_indonesia' src={XLogo} alt='X Logo' />
    <SocialButton
      url='mailto:lpindonesia.email@gmail.com'
      src={emailLogo}
      alt='Email Logo'
    />
  </div>
  <Tribute20250111 />
</Layout>
