---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';

import heartRed from '../assets/heart-red.svg';

const products = [
  {
    name: 'T-Shirt',
    price: 110,
    features: ['Cotton combed 24s', 'Size starts from S to 5XL', 'Unisex', 'Two-sided plastisol print'],
    isBestValue: false
  },
  {
    name: 'Dual Bundle',
    price: 130,
    features: ['All features on T-Shirt', 'Stylish Ribbon Lanyard'],
    isBestValue: false
  },
  {
    name: 'Starter Pack Bundle',
    price: 140,
    features: ['All features on Dual Bundle', 'Tote Bag'],
    isBestValue: true
  }
];
---
<Layout title="LPI Merch | LP Indonesia">
  <a href="/" class="block mb-4 text-blue-500 lg:hover:underline">← Back to Home</a>
  <h1 class="font-bold text-2xl mb-8">LPI Merch</h1>
  <div class="p-4 w-full md:w-[32rem] bg-rose-50 rounded-lg text-[#d60f0f] flex flex-col items-center">
    <Image src={heartRed} alt="Heart icon" class="text-center"/>
    <h2 class="mt-1 font-bold text-xl text-center" >100% For The Community</h2>
    <p class="text-center">All profits go to the community to support local events, charitable initiatives, and free perks for members</p>
  </div>
  <div class="mt-8 flex flex-wrap justify-center gap-4">
    {
      products.map(product => (
        <ProductCard
          name={product.name}
          price={product.price}
          features={product.features}
          isBestValue={product.isBestValue}
        />
      ))
    }
  </div>
  <h2 class="mt-8 font-bold text-xl">How to Buy</h2>
  <div class="p-4 mb-4 w-full md:w-[32rem] rounded-lg shadow-lg">
    <ol class="list-decimal list-inside">
      <li>Fill in the <a  href="#" class="text-blue-500 underline">Google Form</a> (Preorder ends 5 January 2025)</li>
      <li>Receive payment information</li>
      <li>Complete the purchase</li>
    </ol>
    <p class="mt-4">If you have any questions, feel free to reach us out on <a href="https://www.instagram.com/lp_indonesia" class="text-blue-500 underline" target="_blank">Instagram</a>!</p>
  </div>
</Layout>