---
import { Image } from 'astro:assets';

import checkGreen from '../assets/check-green.svg';

const { id, name, price, img, features, isBestValue } = Astro.props;
---

<div id={id} class:list={[
    "bg-white p-4 w-64 rounded-lg shadow-lg flex flex-col cursor-pointer lg:hover:scale-[1.05] lg:transition-all",
    isBestValue ? "border-2 border-rose-200" : ""
  ]}>
  <div class="relative w-48 h-48 border-2 border-gray-700 bg-slate-200 rounded-lg overflow-hidden self-center">
    {
      isBestValue && <div class="absolute right-0 w-fit bg-[#d60f0f] text-white font-medium text-sm py-1 px-2 rounded-md self-start">Best Value</div>
    }
    <Image src={img} alt={name} class="object-cover w-full h-full"/>
  </div>
  <h3 class="mt-2 font-semibold text-lg">{name}</h3>
  <span class="font-bold text-xl">IDR {price}K</span>
  <ul class="mt-2">
    {
      features.map((feature: string) => (
        <li><Image src={checkGreen} alt="check icon" class="inline mr-1"/><span>{feature}</span></li>
      ))
    }
  </ul>
</div>
<dialog id={'dialog-' + id} class="p2 w-full md:w-4/12 fixed">
  <button autofocus id={'close-dialog-' + id} class="absolute top-4 right-4 px-2 py-1 bg-[#d60f0f] text-white font-bold rounded-md">✕</button>
  <Image src={img} alt={name} class="object-cover w-full"/>
</dialog>

<script define:vars={{id}}>
  const dialog = document.getElementById('dialog-' + id);
  const showButton = document.getElementById(id);
  const closeButton = document.getElementById('close-dialog-' + id);

  showButton.addEventListener("click", () => {
    dialog.showModal();
  });

  closeButton.addEventListener("click", () => {
    dialog.close();
  });
</script>
